.cbsiteback {
    background-color: rgba(0, 0, 0, .35);
}
    @supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
        .cbsiteback {
            background-color: rgba(0, 0, 0, 35%);
            -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
        }
    }

.cbsitehover {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}
    .cbsitehover2 {
        overflow: hidden;
    }
    .cbsitehover:hover {
        transform: scale(1.2);
    }

/* https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699 */
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
    .modal__container {
        background-color: #fff;
        padding: 30px;
        max-width: 500px;
        max-height: 100vh;
        border-radius: 4px;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .modal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .modal__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        color: #00449e;
        box-sizing: border-box;
    }
    .modal__close {
        background: transparent;
        border: 0;
    }
    .modal__header .modal__close:before { content: "\2715"; }
    .modal__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 1.5;
        color: rgba(0,0,0,.8);
    }
    .modal__btn {
        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: #e6e6e6;
        color: rgba(0,0,0,.8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
        line-height: 1.15;
        margin: 0;
        will-change: transform;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out,-webkit-transform .25s ease-out;
    }
    .modal__btn:focus, .modal__btn:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .modal__btn-primary {
        background-color: #00449e;
        color: #fff;
    }
      @keyframes mmfadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    
    @keyframes mmfadeOut {
        from { opacity: 1; }
          to { opacity: 0; }
    }
    
    @keyframes mmslideIn {
      from { transform: translateY(15%); }
        to { transform: translateY(0); }
    }
    
    @keyframes mmslideOut {
        from { transform: translateY(0); }
        to { transform: translateY(-10%); }
    }
    .micromodal-slide {
      display: none;
    }
    .micromodal-slide.is-open {
      display: block;
    }
    .micromodal-slide[aria-hidden="false"] .modal__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .micromodal-slide[aria-hidden="false"] .modal__container {
      animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }
    .micromodal-slide[aria-hidden="true"] .modal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .micromodal-slide[aria-hidden="true"] .modal__container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }
    .micromodal-slide .modal__container,
    .micromodal-slide .modal__overlay {
      will-change: transform;
    }

/* ----------------------------------------------
* Generated by Animista on 2020-4-27 3:9:0
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
    @-webkit-keyframes fade-in-fwd {
        0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
    }
    @keyframes fade-in-fwd {
        0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
    }

.slide-in-blurred-bottom {
    -webkit-animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.5s both;
    animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.5s both;
}
    @-webkit-keyframes slide-in-blurred-bottom {
        0% {
            -webkit-transform: translateY(50vh) scaleY(2.5) scaleX(1);
            transform: translateY(50vh) scaleY(2.5) scaleX(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }
    @keyframes slide-in-blurred-bottom {
        0% {
            -webkit-transform: translateY(50vh) scaleY(2.5) scaleX(1);
            transform: translateY(50vh) scaleY(2.5) scaleX(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

.slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
    animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}
    @-webkit-keyframes slide-in-fwd-center {
        0% {
            -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }
    }
    @keyframes slide-in-fwd-center {
        0% {
            -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }
    }