<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link href="/home/assets/styles.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="w-full h-screen overflow-y-auto bg-fixed bg-center bg-cover bg-blue-900" style="background-image: url(/home/media/jaro-bielik-1483955-unsplash_c02.jpg)">
        {{ content }}
    </div>
</body>
</html>